# Env & secrets
.venv/
.env
.env.*

# Python junk
__pycache__/
*.pyc

# Local DB
instance/database.db

# Heavy ML/model stuff (common offenders)
*.pt
*.pth
*.bin
*.h5
*.onnx
*.tar
*.tar.gz
*.zip
.cache/
models/
**/models/**
